@model PPC_Rental.Models.PROPERTY


@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_ViewDetailLayout.cshtml";
}

<h1 class="entry-title entry-prop" style="font-size:30px;border-bottom:3px solid #ff6a00;font-weight:bold;margin-top:15%">@Model.PropertyName</h1>

<hr />
<dl class="dl-horizontal">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Images/Item/@Model.Avatar" width="100%">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img src="~/Images/Item/PIS_7389-Edit-stamp.jpg" width="100%">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img src="~/Images/Item/PIS_7319-Edit-stamp.jpg" width="100%">
                <div class="carousel-caption">

                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <h1 class="entry-title entry-prop" style="font-size:30px;border-bottom:3px solid #ff6a00;font-weight:bold;margin-top:2%">
        Mô tả dự án

    </h1>
    <div class="notice_area">
        @Model.Content
    </div>
    <h1 class="entry-title entry-prop" style="font-size:30px;border-bottom:3px solid #ff6a00;font-weight:bold;margin-top:1%"></h1>
    <div class="panel panel-default" style="margin-top:2%">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseTwo" aria-expanded="true" class="">
                <h4 class="panel-title">
                    Address

                </h4>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true" style="">
            <div class="panel-body">

                <div class="listing_detail col-md-4"><strong>Address:</strong> @Model.STREET.StreetName</div><div class="col-md-4"><strong>District:</strong> @Model.DISTRICT.DistrictName</div><div class="listing_detail col-md-4"><strong>Area:</strong> @Model.Area</div><div class="listing_detail col-md-4"><strong>Country:</strong> Vietnam</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion_prop_details" href="#collapseOne"><h4 class="panel-title" id="prop_det">Details   </h4></a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="listing_detail col-md-4" id="propertyid_display"><strong>Property ID:</strong> @Model.ID</div><div class="listing_detail col-md-4"><strong>Giá:</strong> @Model.Price<strong> USD</strong><span class="price_label price_label_before"></span>  <span class="price_label"></span></div><div class="listing_detail col-md-4"><strong>Property Size:</strong>@Model.Area</div><div class="listing_detail col-md-4"><strong>Property Lot Size:</strong> 40 m<sup>2</sup></div><div class="listing_detail col-md-4"><strong>Bedrooms:</strong> @Model.BedRoom</div><div class="listing_detail col-md-4"><strong>Bathrooms:</strong> @Model.BathRoom</div><div class="listing_detail col-md-4"><strong>Packing Palce:</strong> @Model.PackingPlace</div><div class="listing_detail col-md-4"><strong>Project Type:</strong> @Model.PROPERTY_TYPE.CodeType</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion_prop_features" href="#collapseThree">
                <h4 class="panel-title" id="prop_ame">Features</h4>
            </a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="listing_detail col-md-4"><i class="fa fa-times"></i>balcony</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>pet allowed</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>loft</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>nice view</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>river view</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>car parking</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>concierge</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>pool</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>gym</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>sauna</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>jacuzzi</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>park</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>garden</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>elevator</div><div class="listing_detail col-md-4"><i class="fa fa-check"></i>kitchen</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>washer and dryer</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>laundry service</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>cleaning service</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>wooden floor</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>bathtub</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>sofa</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>air condition</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>fridge</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>induction hob</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>smart tv</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>wifi</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>wine cellar</div><div class="listing_detail col-md-4"><i class="fa fa-times"></i>security</div>
            </div>
        </div>
    </div>


</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index", "Home")
</p>